<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WatchKitApp (Complication).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>WatchKitApp (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>WatchKitApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>WatchKitAppGlance.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>WatchKitComplicationTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>30601CF61D9D108300163ED8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30601D0D1D9D10D900163ED8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30601D3B1D9D14C500163ED8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30601D5E1D9D1D3700163ED8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30601D781D9D1DA300163ED8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
